.skills{
    margin-top:70px;
    text-align:center;
}

.skills h3{
    color:#555;
    font-size:30px;
    margin-bottom:40px;
}

/* container */

.skills-slider{
    width:100%;
    overflow:hidden;
    display: flex;
    gap: 70px;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.skills-slider:hover .skills-track {
    animation-play-state: paused;
}

/* icons */

.skills-track{
    flex-shrink: 0;
    display:flex;
    align-items:center;
    gap:70px;
    font-size:55px;
    color:#444;
    animation:scrollSkills 20s linear infinite;
}

.skills-track svg{
    transition:0.3s;
}

.skills-track svg:hover{
    transform:scale(1.2);
    color:#000;
}



@keyframes scrollSkills{

    0%{
        transform:translateX(0);
    }

    100%{
        transform:translateX(calc(-100% - 70px));
    }

}
.skill{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:55px;
  color:#444;
}

.skill p{
  font-size:14px;
  margin-top:8px;
  color:#666;
}
